<section>
	<div class="wrapper">
		
		<%= form_for @image, :class=>"form-horizontal",  :role => "form", :html => { :multipart => true } do |f| %>
		
			<div class="form-group">
			<div class="input-group-lg">
				<h3>Data about you</h3>
				<%= f.label :picture, "Upload your Profile picture" %><%= f.file_field :picture %><br/>
			  
			<%= f.text_field :title, :class=> "form-control", :placeholder=>"Title" %>

			<%= f.text_area :description, :class=> "form-control", :placeholder=>"Description" %>
			</div>
			</div>
	


		<div class="form-group">
		<%= f.submit "Add", :disable_with => 'Going...', :class =>"btn btn-success btn-lg btn-block" %>
		<% end %>
		
	</div>
</section>