<section>
	<div class="wrapper">
		<div class="ads">
			<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
			<!-- above the image -->
			<ins class="adsbygoogle"
			     style="display:inline-block;width:970px;height:90px"
			     data-ad-client="ca-pub-4842348686549080"
			     data-ad-slot="1769065347"></ins>
			<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
			</script>
			</div>
		
		<div class="sidebar">
			<div class="mini-section">
				<h1><span class="title-text" id="<%= @image.id %>"><%=@image.title%> </span>
					
					<% if user_signed_in?%>
					
					<%    @found = current_user.votes.find_by_voteable_id(@image.id) %>
					
					<% if @found.nil? %>
					<span class="vote-img">	<%=link_to raw('<span class="glyphicon glyphicon-thumbs-up"></span>'), vote_for_image_image_path(@image), :class=>"vote",:id=>"up", :remote => true %>
					<%=link_to raw('<span class="glyphicon glyphicon-thumbs-down"></span>'), vote_against_image_image_path(@image), :class=>"vote",:id=>"down", :remote => true %>
					<% else%>
					
						<% if  @found.vote == false %>
						<span class="vote-img">	<%=link_to raw('<span class="glyphicon glyphicon-thumbs-up"></span>'), vote_for_image_image_path(@image), :class=>"vote",:id=>"up", :remote => true %>
						<%=link_to raw('<span class="glyphicon glyphicon-thumbs-down"></span>'), vote_against_image_image_path(@image), :class=>"vote",:id=>"down", :remote => true, :disabled => "disabled" %> 	
						</span>
						
						<% else %>
							<span class="vote-img">	<%=link_to raw('<span class="glyphicon glyphicon-thumbs-up"></span>'), vote_for_image_image_path(@image), :class=>"vote",:id=>"up", :remote => true, :disabled => "disabled" %>
							<%=link_to raw('<span class="glyphicon glyphicon-thumbs-down"></span>'), vote_against_image_image_path(@image), :class=>"vote",:id=>"down", :remote => true %>
						<%end%>
						
						<%end%>
						
						<% end %>
						
						
						
						</h1></div>
						
							<div class="mini-section desc"><p>
							<%=@image.description %></p>
							<%= social_share_button_tag(@image.title) %></div>
						<div class="mini-section votes">
<p><span class="cushion"><span class="upvote"><%= Vote.where('voteable_id =? AND vote =?', @image.id, true).count %></span> <span class="glyphicon glyphicon-thumbs-up"></span></span><span class="cushion">  <span class="downvote"><%= Vote.where('voteable_id =? AND vote =?', @image.id, false).count %></span> <span class="glyphicon glyphicon-thumbs-down"></span></span> <span class="cushion"><%=@image.impressionist_count %> Views</span>
	
		<% if user_signed_in?%>
			<%    @instance = current_user.favorites.find_by_image_id(@image.id) %>
			<% if  @instance %>
			<span class="cushion">
							<a href="#" id="<%= @image.id%>" class="favorite"><span id="fav"  class="glyphicon glyphicon-heart"></span></a></span>
							<% else %>
							<span class="cushion">
								<a href="#" id="<%= @image.id%>" class="favorite"><span id="fav"  class="glyphicon glyphicon-heart-empty"></span></a></span>
							<% end %>
							
							<% end %>
	
</p>

							</div>
							<div class="links mini-section">Direct Link: <input type="text" class="form-control" readonly value="<%= root_url + "/images/#{@image.id}"%>" /></div>
							
							
							<div class="mini-section new-users alert alert-warning">
								<h4>Start hosting your images here for free!</h4>
								<p>Finally a clean and easy to use image hosting service. Sign up now to upload unlimited images for absolutely no cost.</p>
								<a class="btn btn-success btn-lg" href="<%= new_user_registration_path %>">Sign Up!</a>
								</div>
								
								<div class="ads">
								
									</div>
								
							
			</div>
		<div class="img-show">
	
		<%= image_tag @image.picture.url('original')%>
		<div class="comment-form mini-section">
			<div class="ads">
		
				
				</div>
	
				<% if user_signed_in? %>
					<%= form_for @comment, :class=>"form-inline",  :role => "form" do |f| %>
			<div class="form-group">
				<%= f.text_field :commentbody, :class=> "form-control", :placeholder=>"Write something here" %>
			</div>
			<div class="form-group">
			<%= f.hidden_field :image_id, :value => @image.id %>
			<%= f.hidden_field :user_id, :value => current_user.id %>
			<input type="text" name="foo" style="display: none;">
</div>

			<%= f.submit "Add a comment", :disable_with => 'Adding...', :class =>"btn btn-primary btn-sm submit" %>
			<% end %>

			<% else %>
			<%= link_to "Log in to comment", new_user_session_path, :class => "btn btn-success" %> 

				<% end %>
		
		</div>
		
		<% if !@comments.nil? %>
			<div class="comments-list mini-section">
				<h4> Comments (<%= Comment.find_all_by_image_id(@image.id).count %>)</h4>
			<% @comments.each do  |c| %>
			<div class="comment">
			
			<p class="comment-body">
			<strong><%= User.find(c.user_id).email.split("@")[0]  %>: </strong>
			<%= c.commentbody
		  %></p></div>
		<% end %>
		<% end %>
		
	</div>
</section>

