<section>
	<div class="wrapper">
		<div class="sidebar">
			<div class="mini-section">
				<h1><span class="title-text"><%=@image.title%> </span>	<span class="vote-img">	<%=link_to raw('<span class="glyphicon glyphicon-thumbs-up"></span>'), vote_for_image_image_path(@image), :remote => true %>
						<%=link_to raw('<span class="glyphicon glyphicon-thumbs-down"></span>'), vote_against_image_image_path(@image), :remote => true %></span></h1></div>
						
							<div class="mini-section desc"><p>
							<%=@image.description %></p>
							<%= social_share_button_tag(@image.title) %></div>
						<div class="mini-section votes">
<p><span class="cushion"><%= Vote.where('voteable_id =? AND vote =?', @image.id, true).count %> <span class="glyphicon glyphicon-thumbs-up"></span></span><span class="cushion">  <%= Vote.where('voteable_id =? AND vote =?', @image.id, false).count %> <span class="glyphicon glyphicon-thumbs-down"></span></span> <span class="cushion"><%=@image.impressionist_count %> Views</span></p>

							</div>
							<div class="links mini-section">Direct Link: <input type="text" class="form-control" readonly value="<%= root_url + "/images/#{@image.id}"%>" /></div>
			</div>
		<div class="img-show">
	
		<%= image_tag @image.picture.url('original')%>
		<div class="comment-form mini-section">
	
				<% if user_signed_in? %>
					<%= form_for @comment, :class=>"form-inline",  :role => "form" do |f| %>
			<div class="form-group">
				<%= f.text_field :commentbody, :class=> "form-control", :placeholder=>"Write something here" %>
			</div>
			<div class="form-group">
			<%= f.hidden_field :image_id, :value => @image.id %>
			<%= f.hidden_field :user_id, :value => current_user.id %>
			<input type="text" name="foo" style="display: none;">
</div>

			<%= f.submit "Add a comment", :disable_with => 'Adding...', :class =>"btn btn-primary btn-sm submit" %>
			<% end %>

			<% else %>
			<%= link_to "Log in to comment", new_user_session_path, :class => "btn btn-success" %> 

				<% end %>
		
		</div>
		
		<% if !@comments.nil? %>
			<div class="comments-list mini-section">
				<h4> Comments (<%= Comment.find_all_by_image_id(@image.id).count %>)</h4>
			<% @comments.each do  |c| %>
			<div class="comment">
			
			<p class="comment-body">
			<strong><%= User.find(c.user_id).email.split("@")[0]  %>: </strong>
			<%= c.commentbody
		  %></p></div>
		<% end %>
		<% end %>
		
	</div>
</section>