<!DOCTYPE html>
<html>
<head>
  <title>Memes, Infographic or any image worth sharing and hosting.</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
<meta name="viewport" content="initial-scale=1">

</head>
<body>
	<header>
		
		<nav class="navbar navbar-default" role="navigation">
		  <!-- Brand and toggle get grouped for better mobile display -->
		  <div class="navbar-header">
			<a class="navbar-brand" href="<%= root_url %>"><span></span><strong>Impthings</strong></a>
		    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		      <span class="sr-only">Toggle navigation</span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		    </button>
		   
		  </div>

		  <!-- Collect the nav links, forms, and other content for toggling -->
		  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		    <ul class="nav navbar-nav">
		      <li>	<%= link_to "Home", root_path %>
			</li>
		    </ul>
		    <form class="navbar-form navbar-left" role="search" action ="<%= root_path %>">
		      <div class="form-group">
				<input type="text" name="search" placeholder ="Find your image" class="typeahead form-control">		      </div>
		      <button type="submit" class="btn btn-default">Go</button>
		    </form>
		    <ul class="nav navbar-nav navbar-right">
		    
		      	<% if user_signed_in? %>
			  <li>	<%= link_to "Dashboard", 'pages/dashboard' %></li>
		
					<li><%= link_to "Sign out", destroy_user_session_path, :method => 'delete' %></li>
				<% else %>
			      <li><%= link_to "Sign in or", new_user_session_path %></li>
			      <li><%= link_to "Sign up", new_user_registration_path %></li>
			
				<% end %>
		    
		    </ul>
		  </div><!-- /.navbar-collapse -->
		</nav>
	</header>
<div class="container">
		<% if flash[:notice] %>
		<div class='alert <% if flash[:notice] =~ /Success/i %> alert-success <% else %> alert-danger<% end %>' data-dismiss="alert">
		<p><%= flash[:notice] %></p>
		</div>
		<% end %>
<%= yield %>
</div>
</body>
</html>
<script type="text/javascript">
	$(document).ready(function() {
	  $('.typeahead').typeahead( {name: 'planets', remote:  '/images/titles.json?search=%QUERY', limit: 10 });
	});

	$(".favorite").click(function() {
		
		var classy =	$("#fav").attr('class');
		
	  var image_id = $(this).attr('id');
	  $.ajax({
	    type: "POST",
	  beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
	
	    url: '/favorites/' + image_id,
	  processData : false,
	    success: function() {
	      // change image or something
	

	
	    }
	  });
	if (classy == "glyphicon glyphicon-heart")
	{
		$("#fav").removeClass( "glyphicon-heart" );
		
	  $("#fav").addClass( "glyphicon-heart-empty" );
	}
	else
	{
		$("#fav").removeClass( "glyphicon-heart-empty" );
		$("#fav").addClass( "glyphicon-heart" );
		
	}
	
	return false;
	
	});



	$("#up").click(function() {
	  var id = $('.favorite').attr('id');
		var jsonurl = '/images/upvotes.json?id='+id;
		var jsonurld = '/images/downvotes.json?id='+id;
		
		
		$('#up').attr('disabled','disabled'); 
		$("#down").removeAttr('disabled');
			var upvotes;
			
				$.getJSON(jsonurl,function(json){
				    upvotes = json;  
				alert(upvotes)
					$(".upvote").text(upvotes);
				
				});
					var downvotes;
								$.getJSON(jsonurld,function(json){
						    downvotes = json;
							$(".downvote").text(downvotes);

						});
	});
	
		$("#down").click(function() {
			
			var id = $('.favorite').attr('id');
				var jsonurl = '/images/downvotes.json?id='+id;
				var jsonurlu = '/images/upvotes.json?id='+id;
				
			$("#up").removeAttr('disabled');
			$('#down').attr('disabled','disabled'); 
				var upvotes;

					$.getJSON(jsonurlu,function(json){
					    upvotes = json;  
						alert(upvotes)
					
						$(".upvote").text(upvotes);

					});
			
				var downvotes;
							$.getJSON(jsonurl,function(json){
					    downvotes = json;
					
						$(".downvote").text(downvotes);
					
					});
			
		});
		
		
	


</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-47489068-1', 'impthings.com');
  ga('send', 'pageview');

</script>

