<!DOCTYPE html>
<html>
<head>
  <title>Memes, Infographic or any image worth sharing and hosting.</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
		<% if flash[:notice] %>
		<div class='alert <% if flash[:notice] =~ /Success/i %> alert-success <% else %> alert-danger<% end %>' data-dismiss="alert">
		<p><%= flash[:notice] %></p>
		</div>
		<% end %>
<%= yield %>
</div>
</body>
</html>
